@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --dark-more: #333;
  --dark-less: #7a7a7a;
  --main-color: #784cfb;
  --light-more: #fff;
  --light-less: #ebebf0;
  --light-lesser: #f6f7fb;
}

/* Base styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 4rem;
  z-index: 5;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.text {
  color: var(--dark-more);
  line-height: 1.6;
}

.column-1 {
  margin-right: 1rem;
}

.column-2 {
  margin-left: 1rem;
}

img {
  width: 100%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.overlay .shape {
  width: initial;
  opacity: 0.2;
  position: absolute;
}

.overlay.overlay-lg .shape {
  height: 55px;
}

.overlay.overlay-lg .shape.wave {
  height: initial;
  width: 88px;
}

.section {
  margin: 4rem 0;
}

.section-header {
  text-align: center;
  margin-bottom: 1rem;
}

.section-header .text {
  width: 50%;
  margin: 0 auto;
}

.title {
  display: inline-block;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.title::before {
  content: attr(data-title);
  display: block;
  margin-bottom: 0.4rem;
  color: var(--main-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}

.title::after {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  margin: 0 auto;
  background-color: var(--main-color);
}

/* Header */

header {
  width: 100%;
  position: relative;
  overflow: hidden;
}

nav {
  width: 100%;
  position: relative;
  z-index: 50;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo p {
  font-weight: 600;
  color: var(--main-color);
  font-size: 2rem;
}

.links ul {
  display: flex;
}

.links a {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  color: var(--dark-more);
  text-transform: uppercase;
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1;
  transition: 0.3s;
}

.links a.active {
  background-color: var(--main-color);
  color: var(--light-less);
  border-radius: 2rem;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  margin-left: 1rem;
}

.links a:hover {
  color: var(--main-color);
}

.links a.active:hover {
  color: var(--light-less);
  background-color: #6b44e0;
}

.header-content .container.grid-2 {
  grid-template-columns: 1.5fr 2fr;
  min-height: calc(100vh - 4rem);
}

.header-title {
  font-size: 2.8rem;
  color: var(--dark-more);
}

.header-content .text {
  margin: 1.2rem 0;
}

.btn {
  display: inline-block;
  padding: 0.6rem 2rem;
  background-color: var(--main-color);
  color: var(--light-less);
  border-radius: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s;
}

.btn:hover {
  background-color: #6b44e0;
}

header .square {
  right: 60%;
  top: 80%;
}

header .triangle {
  top: 10%;
  left: 50%;
}

header .xshape {
  right: 10%;
  top: 40%;
}

header .half-circle1 {
  top: 20%;
  right: 5%;
}

header .half-circle2 {
  top: 50%;
  left: 10%;
}

header .wave1 {
  top: 30%;
  left: 35%;
}

header .wave2 {
  top: 70%;
  left: 5%;
}

header .circle {
  top: 80%;
  right: 5%;
}

header .letters {
  position: absolute;
  width: 10%;
  top: -5px;
  left: 15px;
  opacity: 0.2;
}

header .points {
  opacity: 0.4;
  position: absolute;
}

header .points1 {
  width: 300px;
  bottom: -10%;
  left: -10%;
}

header .points2 {
  width: 400px;
  bottom: -1%;
  right: 0;
}

/* Services */

.cards .card .card-content .fas {
  color: var(--main-color);
  font-size: 4rem;
  margin: 4rem 0 2rem 0;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.cards .card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: lightblue;
  max-width: 300px;
  min-height: 400px;
  padding: 2rem;
  background-color: var(--light-less);
  overflow: hidden;
  margin: 1rem;
  transition: 0.3s;
}

.cards .card .card-content .text {
  margin: 1rem 0 2rem 0;
}

.cards .card .btn.small {
  padding: 0.5rem 1.4rem;
}

.cards .card::before {
  content: attr(data-card);
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 4rem;
  font-weight: 800;
  color: var(--main-color);
  opacity: 0.1;
}

.cards .card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  background-color: var(--main-color);
  transition: 0.3s;
}

.cards .card-wrap:hover .card {
  transform: translateY(-6px);
}

.cards .card-wrap:hover .card::after {
  height: 6px;
}

/* Portfolio */

.portfolio {
  position: relative;
  width: 100%;
}

.background-bg {
  position: absolute;
  width: 100%;
  height: 500px;
  background-color: var(--main-color);
  transform: translateY(-2rem);
}

.portfolio .title,
.portfolio .title::before {
  color: var(--light-less);
}

.portfolio .title::after {
  background-color: var(--light-less);
}

.filter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filter .filter-btn {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0.4rem 0rem;
  padding: 0.4rem 2rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--light-less);
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 2rem;
  transition: 0.3s;
}

.filter .filter-btn.active {
  background-color: white;
  color: var(--main-color);
}

.overlay.overlay-sm .shape {
  filter: brightness(0) invert(1);
  opacity: 0.2;
  height: 40px;
}

.overlay.overlay-sm .shape.wave {
  height: initial;
  width: 70px;
}

.portfolio .square {
  right: 90%;
  top: 80%;
}

.portfolio .triangle {
  top: 10%;
  left: 60%;
}

.portfolio .xshape {
  right: 10%;
  top: 40%;
}

.portfolio .half-circle1 {
  top: 20%;
  right: 5%;
}

.portfolio .half-circle2 {
  top: 50%;
  left: 10%;
}

.portfolio .wave {
  top: 10%;
  left: 20%;
}

.portfolio .circle {
  top: 80%;
  right: 5%;
}

.grid {
  width: 100%;
  margin: 1rem 0;
  min-height: 300px;
}

.grid-item {
  width: 33.33%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-img {
  position: relative;
  width: 100%;
  border-radius: 8px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.gallery-img img {
  position: absolute;
  width: initial;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: 0.3s;
  border-radius: 6px;
}

.gallery-img .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(130, 90, 250, 0.5);
  color: var(--light-less);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  opacity: 0;
  transition: 0.3s;
}

.gallery-img:hover .img-overlay {
  opacity: 1;
}

.img-overlay .plus {
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto 0;
}

.plus::before,
.plus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  background-color: var(--light-less);
}

.plus::after {
  transform: translateX(-50%) rotate(-90deg);
}

.img-description {
  width: 100%;
}

.img-overlay h3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.img-overlay h5 {
  font-weight: 400;
}

.gallery-img:hover img {
  transform: translate(-50%, -50%) scale(1.1);
}

.more-folio {
  display: flex;
  justify-content: center;
}

/* Technologies */

.technologies .icons {
  width: 100%;
}

.technologies .icons .icons-wrap {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.technologies .icons .icon-card {
  width: 100px;
  height: 100px;
  margin: 1rem;
}

.technologies .icons .icon-card img {
  height: 100%;
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
  filter: grayscale(0.9);
}

.technologies .icons .icon-card img:hover {
  filter: grayscale(0);
}
